# JWT Settings
JWT_SECRET_KEY=Enter_SECRET_KEY_HERE
JWT_ALGORITHM=HS256
JWT_EXPIRY_MINUTES=30

# MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=secure_gateway_db
DB_USER=enter_mysql_username
DB_PASSWORD=enter_mysql_password

# Backend Service URL (replace with target backend)
BACKEND_URL=http://localhost:5002 

# Rate Limiter Settings
RATE_LIMIT_MAX_REQUESTS=20
RATE_LIMIT_WINDOW_SECONDS=60

# Paths that dont require login i.e. jwt token
PUBLIC_PATHS=/,/login,/admin/dashboard

#
ALLOWED_ORIGINS=